@model IEnumerable<lab5.Models.Client>

@{
    ViewData["Title"] = "Список клієнтів";
}

<h2>Список клієнтов</h2>

<table class="table">
    <thead>
        <tr>
            <th>Ім &apos;я</th>
            <th>Вік</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
                <tr>
                    <td>@client.name</td>
                    <td>@client.age</td>
                </tr>
        }
    </tbody>
</table>